In [1]:
import xlrd
from bs4 import BeautifulSoup
import pandas as pd
import requests,json
import datetime as dt

In [255]:
rivers = {23:"Afognak River (Litnik)",30:"Chignik River",7:"Coghill River",39:"Copper River (Miles L)",
27:"Dog Salmon River",45:"Egegik River",8:"Eshamy Creek",21:"Fish Creek",
6:"Gulkana River",49:"Igushik River",46:"Kvichak River",
44:"Ugashik River",50:"Wood River",43:"Yentna River",40:"Kenai River (late-run sockeye)",
53:"Togiak River",51:"Nushagak River",35:"Ilnik River",41:"Kasilof River",74:"McLees Lake",
32:"Nelson River (Sapsuk)",26:"Olga Creek (Upper Station)",31:"Orzinski Lake",60:"Pasagshak"
,34:"Sandy River",5:"Situk River"}
ids = rivers.keys()

26

These are the rivers that I want to gather data for. They have a corresponding 2 digit code that goes with each river in order to get their fish counts.

In [11]:
years = []
for i in range(1955,2020):
    try:
        for j in ids:
            content = requests.get(f'http://www.adfg.alaska.gov/sf/FishCounts/index.cfm?ADFG=export.JSON&countLocationID={j}&year={i}&speciesID=420')
            print(content.status_code)
            print(j)
            year = json.loads(content.content)
            df = pd.DataFrame.from_dict(year['DATA'])
            years.append(df)
    except NameError:
        print("year not available")
        
        
river = pd.concat(years, sort=False)

200
23
200
30
200
7
200
39
200
27
200
45
200
8
200
21
200
6
200
49
200
46
200
44
200
50
200
43
200
40
200
53
200
51
200
35
200
41
200
74
200
32
200
26
200
31
200
60
200
34
200
5
200
23
200
30
200
7
200
39
200
27
200
45
200
8
200
21
200
6
200
49
200
46
200
44
200
50
200
43
200
40
200
53
200
51
200
35
200
41
200
74
200
32
200
26
200
31
200
60
200
34
200
5
200
23
200
30
200
7
200
39
200
27
200
45
200
8
200
21
200
6
200
49
200
46
200
44
200
50
200
43
200
40
200
53
200
51
200
35
200
41
200
74
200
32
200
26
200
31
200
60
200
34
200
5
200
23
200
30
200
7
200
39
200
27
200
45
200
8
200
21
200
6
200
49
200
46
200
44
200
50
200
43
200
40
200
53
200
51
200
35
200
41
200
74
200
32
200
26
200
31
200
60
200
34
200
5
200
23
200
30
200
7
200
39
200
27
200
45
200
8
200
21
200
6
200
49
200
46
200
44
200
50
200
43
200
40
200
53
200
51
200
35
200
41
200
74
200
32
200
26
200
31
200
60
200
34
200
5
200
23
200
30
200
7
200
39
200
27
200
45
200
8
200
21
200
6
200
49
200
46
200
44
200
50
200
43
200
40
200
53
200
51
200
35
200
41
200
74
200
32
200
26
200
31
200
60
200
34
200
5
200
23
200
30
200
7
200
39
200
27
200
45
200
8
200
21
200
6
200
49
200
46
200
44
200
50
200
43
200
40
200
53
200
51
200
35
200
41
200
74
200
32
200
26
200
31
200
60
200
34
200
5
200
23
200
30
200
7
200
39
200
27
200
45
200
8
200
21
200
6
200
49
200
46
200
44
200
50
200
43
200
40
200
53
200
51
200
35
200
41
200
74
200
32
200
26
200
31
200
60
200
34
200
5
200
23
200
30
200
7
200
39
200
27
200
45
200
8
200
21
200
6
200
49
200
46
200
44
200
50
200
43
200
40
200
53
200
51
200
35
200
41
200
74
200
32
200
26
200
31
200
60
200
34
200
5
200
23
200
30
200
7
200
39
200
27
200
45
200
8
200
21
200
6
200
49
200
46
200
44
200
50
200
43
200
40
200
53
200
51
200
35
200
41
200
74
200
32
200
26
200
31
200
60
200
34
200
5
200
23
200
30
200
7
200
39
200
27
200
45
200
8
200
21
200
6
200
49
200
46
200
44
200
50
200
43
200
40
200
53
200
51
200
35
200
41
200
74
200
32
200
26
200
31
200
60
200
34
200
5
200
23
200
30
200
7
200
39
200
27
200
45
200
8
200
21
200
6
200
49
200
46
200
44
200
50
200
43
200
40
200
53
200
51
200
35
200
41
200
74
200
32
200
26
200
31
200
60
200
34
200
5
200
23
200
30
200
7
200
39
200
27
200
45
200
8
200
21
200
6
200
49
200
46
200
44
200
50
200
43
200
40
200
53
200
51
200
35
200
41
200
74
200
32
200
26
200
31
200
60
200
34
200
5
200
23
200
30
200
7
200
39
200
27
200
45
200
8
200
21
200
6
200
49
200
46
200
44
200
50
200
43
200
40
200
53
200
51
200
35
200
41
200
74
200
32
200
26
200
31
200
60
200
34
200
5
200
23
200
30
200
7
200
39
200
27
200
45
200
8
200
21
200
6
200
49
200
46
200
44
200
50
200
43
200
40
200
53
200
51
200
35
200
41
200
74
200
32
200
26
200
31
200
60
200
34
200
5
200
23
200
30
200
7
200
39
200
27
200
45
200
8
200
21
200
6
200
49
200
46
200
44
200
50
200
43
200
40
200
53
200
51
200
35
200
41
200
74
200
32
200
26
200
31
200
60
200
34
200
5
200
23
200
30
200
7
200
39
200
27
200
45
200
8
200
21
200
6
200
49
200
46
200
44
200
50
200
43
200
40
200
53
200
51
200
35
200
41
200
74
200
32
200
26
200
31
200
60
200
34
200
5
200
23
200
30
200
7
200
39
200
27
200
45
200
8
200
21
200
6
200
49
200
46
200
44
200
50
200
43
200
40
200
53
200
51
200
35
200
41
200
74
200
32
200
26
200
31
200
60
200
34
200
5
200
23
200
30
200
7
200
39
200
27
200
45
200
8
200
21
200
6
200
49
200
46
200
44
200
50
200
43
200
40
200
53
200
51
200
35
200
41
200
74
200
32
200
26
200
31
200
60
200
34
200
5
200
23
200
30
200
7
200
39
200
27
200
45
200
8
200
21
200
6
200
49
200
46
200
44
200
50
200
43
200
40
200
53
200
51
200
35
200
41
200
74
200
32
200
26
200
31
200
60
200
34
200
5
200
23
200
30
200
7
200
39
200
27
200
45
200
8
200
21
200
6
200
49
200
46
200
44
200
50
200
43
200
40
200
53
200
51
200
35
200
41
200
74
200
32
200
26
200
31
200
60
200
34
200
5
200
23
200
30
200
7
200
39
200
27
200
45
200
8
200
21
200
6
200
49
200
46
200
44
200
50
200
43
200
40
200
53
200
51
200
35
200
41
200
74
200
32
200
26
200
31
200
60
200
34
200
5
200
23
200
30
200
7
200
39
200
27
200
45
200
8
200
21
200
6
200
49
200
46
200
44
200
50
200
43
200
40
200
53
200
51
200
35
200
41
200
74
200
32
200
26
200
31
200
60
200
34
200
5
200
23
200
30
200
7
200
39
200
27
200
45
200
8
200
21
200
6
200
49
200
46
200
44
200
50
200
43
200
40
200
53
200
51
200
35
200
41
200
74
200
32
200
26
200
31
200
60
200
34
200
5
200
23
200
30
200
7
200
39
200
27
200
45
200
8
200
21
200
6
200
49
200
46
200
44
200
50
200
43
200
40
200
53
200
51
200
35
200
41
200
74
200
32
200
26
200
31
200
60
200
34
200
5
200
23
200
30
200
7
200
39
200
27
200
45
200
8
200
21
200
6
200
49
200
46
200
44
200
50
200
43
200
40
200
53
200
51
200
35
200
41
200
74
200
32
200
26
200
31
200
60
200
34
200
5
200
23
200
30
200
7
200
39
200
27
200
45
200
8
200
21
200
6
200
49
200
46
200
44
200
50
200
43
200
40
200
53
200
51
200
35
200
41
200
74
200
32
200
26
200
31
200
60
200
34
200
5
200
23
200
30
200
7
200
39
200
27
200
45
200
8
200
21
200
6
200
49
200
46
200
44
200
50
200
43
200
40
200
53
200
51
200
35
200
41
200
74
200
32
200
26
200
31
200
60
200
34
200
5
200
23
200
30
200
7
200
39
200
27
200
45
200
8
200
21
200
6
200
49
200
46
200
44
200
50
200
43
200
40
200
53
200
51
200
35
200
41
200
74
200
32
200
26
200
31
200
60
200
34
200
5
200
23
200
30
200
7
200
39
200
27
200
45
200
8
200
21
200
6
200
49
200
46
200
44
200
50
200
43
200
40
200
53
200
51
200
35
200
41
200
74
200
32
200
26
200
31
200
60
200
34
200
5
200
23
200
30
200
7
200
39
200
27
200
45
200
8
200
21
200
6
200
49
200
46
200
44
200
50
200
43
200
40
200
53
200
51
200
35
200
41
200
74
200
32
200
26
200
31
200
60
200
34
200
5
200
23
200
30
200
7
200
39
200
27
200
45
200
8
200
21
200
6
200
49
200
46
200
44
200
50
200
43
200
40
200
53
200
51
200
35
200
41
200
74
200
32
200
26
200
31
200
60
200
34
200
5
200
23
200
30
200
7
200
39
200
27
200
45
200
8
200
21
200
6
200
49
200
46
200
44
200
50
200
43
200
40
200
53
200
51
200
35
200
41
200
74
200
32
200
26
200
31
200
60
200
34
200
5
200
23
200
30
200
7
200
39
200
27
200
45
200
8
200
21
200
6
200
49
200
46
200
44
200
50
200
43
200
40
200
53
200
51
200
35
200
41
200
74
200
32
200
26
200
31
200
60
200
34
200
5
200
23
200
30
200
7
200
39
200
27
200
45
200
8
200
21
200
6
200
49
200
46
200
44
200
50
200
43
200
40
200
53
200
51
200
35
200
41
200
74
200
32
200
26
200
31
200
60
200
34
200
5
200
23
200
30
200
7
200
39
200
27
200
45
200
8
200
21
200
6
200
49
200
46
200
44
200
50
200
43
200
40
200
53
200
51
200
35
200
41
200
74
200
32
200
26
200
31
200
60
200
34
200
5
200
23
200
30
200
7
200
39
200
27
200
45
200
8
200
21
200
6
200
49
200
46
200
44
200
50
200
43
200
40
200
53
200
51
200
35
200
41
200
74
200
32
200
26
200
31
200
60
200
34
200
5
200
23
200
30
200
7
200
39
200
27
200
45
200
8
200
21
200
6
200
49
200
46
200
44
200
50
200
43
200
40
200
53
200
51
200
35
200
41
200
74
200
32
200
26
200
31
200
60
200
34
200
5
200
23
200
30
200
7
200
39
200
27
200
45
200
8
200
21
200
6
200
49
200
46
200
44
200
50
200
43
200
40
200
53
200
51
200
35
200
41
200
74
200
32
200
26
200
31
200
60
200
34
200
5
200
23
200
30
200
7
200
39
200
27
200
45
200
8
200
21
200
6
200
49
200
46
200
44
200
50
200
43
200
40
200
53
200
51
200
35
200
41
200
74
200
32
200
26
200
31
200
60
200
34
200
5
200
23
200
30
200
7
200
39
200
27
200
45
200
8
200
21
200
6
200
49
200
46
200
44
200
50
200
43
200
40
200
53
200
51
200
35
200
41
200
74
200
32
200
26
200
31
200
60
200
34
200
5
200
23
200
30
200
7
200
39
200
27
200
45
200
8
200
21
200
6
200
49
200
46
200
44
200
50
200
43
200
40
200
53
200
51
200
35
200
41
200
74
200
32
200
26
200
31
200
60
200
34
200
5
200
23
200
30
200
7
200
39
200
27
200
45
200
8
200
21
200
6
200
49
200
46
200
44
200
50
200
43
200
40
200
53
200
51
200
35
200
41
200
74
200
32
200
26
200
31
200
60
200
34
200
5
200
23
200
30
200
7
200
39
200
27
200
45
200
8
200
21
200
6
200
49
200
46
200
44
200
50
200
43
200
40
200
53
200
51
200
35
200
41
200
74
200
32
200
26
200
31
200
60
200
34
200
5
200
23
200
30
200
7
200
39
200
27
200
45
200
8
200
21
200
6
200
49
200
46
200
44
200
50
200
43
200
40
200
53
200
51
200
35
200
41
200
74
200
32
200
26
200
31
200
60
200
34
200
5
200
23
200
30
200
7
200
39
200
27
200
45
200
8
200
21
200
6
200
49
200
46
200
44
200
50
200
43
200
40
200
53
200
51
200
35
200
41
200
74
200
32
200
26
200
31
200
60
200
34
200
5
200
23

200
30
200
7
200
39
200
27
200
45
200
8
200
21
200
6
200
49
200
46
200
44
200
50
200
43
200
40
200
53
200
51
200
35
200
41
200
74
200
32
200
26
200
31
200
60
200
34
200
5
200
23
200
30
200
7
200
39
200
27
200
45
200
8
200
21
200
6
200
49
200
46
200
44
200
50
200
43
200
40
200
53
200
51
200
35
200
41
200
74
200
32
200
26
200
31
200
60
200
34
200
5
200
23
200
30
200
7
200
39
200
27
200
45
200
8
200
21
200
6
200
49
200
46
200
44
200
50
200
43
200
40
200
53
200
51
200
35
200
41
200
74
200
32
200
26
200
31
200
60
200
34
200
5
200
23
200
30
200
7
200
39
200
27
200
45
200
8
200
21
200
6
200
49
200
46
200
44
200
50
200
43
200
40
200
53
200
51
200
35
200
41
200
74
200
32
200
26
200
31
200
60
200
34
200
5
200
23
200
30
200
7
200
39
200
27
200
45
200
8
200
21
200
6
200
49
200
46
200
44
200
50
200
43
200
40
200
53
200
51
200
35
200
41
200
74
200
32
200
26
200
31
200
60
200
34
200
5
200
23
200
30
200
7
200
39
200
27
200
45
200
8
200
21
200
6
200
49
200
46
200
44
200
50
200
43
200
40
200
53
200
51
200
35
200
41
200
74
200
32
200
26
200
31
200
60
200
34
200
5
200
23
200
30
200
7
200
39
200
27
200
45
200
8
200
21
200
6
200
49
200
46
200
44
200
50
200
43
200
40
200
53
200
51
200
35
200
41
200
74
200
32
200
26
200
31
200
60
200
34
200
5
200
23
200
30
200
7
200
39
200
27
200
45
200
8
200
21
200
6
200
49
200
46
200
44
200
50
200
43
200
40
200
53
200
51
200
35
200
41
200
74
200
32
200
26
200
31
200
60
200
34
200
5
200
23
200
30
200
7
200
39
200
27
200
45
200
8
200
21
200
6
200
49
200
46
200
44
200
50
200
43
200
40
200
53
200
51
200
35
200
41
200
74
200
32
200
26
200
31
200
60
200
34
200
5
200
23
200
30
200
7
200
39
200
27
200
45
200
8
200
21
200
6
200
49
200
46
200
44
200
50
200
43
200
40
200
53
200
51
200
35
200
41
200
74
200
32
200
26
200
31
200
60
200
34
200
5
200
23
200
30
200
7
200
39
200
27
200
45
200
8
200
21
200
6
200
49
200
46
200
44
200
50
200
43
200
40
200
53
200
51
200
35
200
41
200
74
200
32
200
26
200
31
200
60
200
34
200
5
200
23
200
30
200
7
200
39
200
27
200
45
200
8
200
21
200
6
200
49
200
46
200
44
200
50
200
43
200
40
200
53
200
51
200
35
200
41
200
74
200
32
200
26
200
31
200
60
200
34
200
5
200
23
200
30
200
7
200
39
200
27
200
45
200
8
200
21
200
6
200
49
200
46
200
44
200
50
200
43
200
40
200
53
200
51
200
35
200
41
200
74
200
32
200
26
200
31
200
60
200
34
200
5
200
23
200
30
200
7
200
39
200
27
200
45
200
8
200
21
200
6
200
49
200
46
200
44
200
50
200
43
200
40
200
53
200
51
200
35
200
41
200
74
200
32
200
26
200
31
200
60
200
34
200
5
200
23
200
30
200
7
200
39
200
27
200
45
200
8
200
21
200
6
200
49
200
46
200
44
200
50
200
43
200
40
200
53
200
51
200
35
200
41
200
74
200
32
200
26
200
31
200
60
200
34
200
5
200
23
200
30
200
7
200
39
200
27
200
45
200
8
200
21
200
6
200
49
200
46
200
44
200
50
200
43
200
40
200
53
200
51
200
35
200
41
200
74
200
32
200
26
200
31
200
60
200
34
200
5
200
23
200
30
200
7
200
39
200
27
200
45
200
8
200
21
200
6
200
49
200
46
200
44
200
50
200
43
200
40
200
53
200
51
200
35
200
41
200
74
200
32
200
26
200
31
200
60
200
34
200
5
200
23
200
30
200
7
200
39
200
27
200
45
200
8
200
21
200
6
200
49
200
46
200
44
200
50
200
43
200
40
200
53
200
51
200
35
200
41
200
74
200
32
200
26
200
31
200
60
200
34
200
5
200
23
200
30
200
7
200
39
200
27
200
45
200
8
200
21
200
6
200
49
200
46
200
44
200
50
200
43
200
40
200
53
200
51
200
35
200
41
200
74
200
32
200
26
200
31
200
60
200
34
200
5

This function gets every year available for a river and adds it to a dataframe. Be aware that since it does each river separately,this function will run for over 30 minutes. In order to expedite it, it saves itself and you can access it everytime you need it after running it only one time.

In [1]:
#river.to_csv("river.csv")# saves df so it doesn't have to be run multiple times

In [6]:
river = pd.read_csv("river.csv")# calls back in df after it was saved
river.head()

river.drop(columns = 'Unnamed: 0',inplace = True)

In [7]:
river.head()

             COUNTDATE  YEAR  COUNTLOCATION  FISHCOUNT
0  1955-06-23 00:00:00  1955  Kvichak River      120.0
1  1955-06-24 00:00:00  1955  Kvichak River      256.0
2  1955-06-25 00:00:00  1955  Kvichak River      509.0
3  1955-06-26 00:00:00  1955  Kvichak River      166.0
4  1955-06-27 00:00:00  1955  Kvichak River      211.0

We end up with our desired rivers and the number of fish that returned to that river by day for the years that are available for that river. The data available from the Alaska Dept of Fish & Game is extremely spotty and this makes it difficult to use this information to get general trends about how many fish are actually returning to these rivers over the past 65 years. We do have others ways of measuring this as we will see later on.

In [8]:
BB_2019 = pd.read_csv("/Users/aryehgelfand/Downloads/BB Sockeye Fish Counts analysis.csv")
BB_2018 = pd.read_csv("/Users/aryehgelfand/Downloads/BB Sockeye Fish Counts analysis-16.csv")
BB_2017 = pd.read_csv("/Users/aryehgelfand/Downloads/BB Sockeye Fish Counts analysis-15.csv")
BB_2016 = pd.read_csv("/Users/aryehgelfand/Downloads/BB Sockeye Fish Counts analysis-13.csv")
BB_2015 = pd.read_csv("/Users/aryehgelfand/Downloads/BB Sockeye Fish Counts analysis-12.csv")
BB_2014 = pd.read_csv("/Users/aryehgelfand/Downloads/BB Sockeye Fish Counts analysis-11.csv")
BB_2013 = pd.read_csv("/Users/aryehgelfand/Downloads/BB Sockeye Fish Counts analysis-10.csv")
BB_2012 = pd.read_csv("/Users/aryehgelfand/Downloads/BB Sockeye Fish Counts analysis-9.csv")

The data from the Bristol Bay region was only available up to 2012 and we therefore needed to get this data on its own. This data can be accessed at https://www.adfg.alaska.gov/index.cfm?adfg=commercialbyareabristolbay.harvestsummary..
I then gathered the data for each year.

In [9]:
BB_recent = pd.concat([BB_2019,BB_2018,BB_2017,BB_2016,BB_2015,BB_2014,BB_2013,BB_2012])
BB_recent.rename(columns={'Sockeye Count':'FISHCOUNT','Stream Name':'COUNTLOCATION','Date':'COUNTDATE'}, inplace=True)
BB_recent.set_index('COUNTDATE', inplace=True)# merged all these years together
BB_recent.head()

            FISHCOUNT   COUNTLOCATION
COUNTDATE
2019-06-06        270  Nushagak River
2019-06-07        543  Nushagak River
2019-06-08        323  Nushagak River
2019-06-09        490  Nushagak River
2019-06-10        794  Nushagak River

In [7]:
river = river[['YEAR','COUNTDATE','COUNTLOCATION','FISHCOUNT']]# cleaned other rivers
river['COUNTDATE'] = pd.to_datetime(river['COUNTDATE'])#changed to date time object
river.set_index('COUNTDATE', inplace=True)#made the datetime the index

In [8]:
river.index = pd.to_datetime(river.index, format='%Y/%m/%d')#changed the datetime format to day month year

In [9]:
BB_recent.index = pd.to_datetime(BB_recent.index, format='%Y/%m/%d')

In [10]:
BB_recent['YEAR'] = BB_recent.index.year

In [11]:
river.head()

            YEAR  COUNTLOCATION  FISHCOUNT
COUNTDATE
1955-06-23  1955  Kvichak River      120.0
1955-06-24  1955  Kvichak River      256.0
1955-06-25  1955  Kvichak River      509.0
1955-06-26  1955  Kvichak River      166.0
1955-06-27  1955  Kvichak River      211.0

In [12]:
fish_counts = pd.concat([river,BB_recent])# merged these two dataframes together

In [13]:
fish_counts.drop_duplicates(inplace=True)
fish_counts['FISHCOUNT'] = pd.to_numeric(fish_counts['FISHCOUNT'])

In [14]:
fish_counts.index = pd.to_datetime(fish_counts.index, format='%Y/%m/%d')

In [15]:
fish_counts.drop(columns = 'YEAR',inplace=True)

At this stage we have the desired rivers with their fishcounts by day and we have the index set at datetime samples by day.

In [16]:
fish_counts = pd.pivot_table(fish_counts,index=fish_counts.index, columns = 'COUNTLOCATION')

We need to create a dataframe that has each river as a columns and the fishcounts by day as each row. The pivot table function accomplishes this.

In [17]:
fish_counts = fish_counts.loc[:,~fish_counts.columns.duplicated()]# erase duplicate rows

In [18]:
fish_counts = fish_counts.resample('W').sum()# resample data to weekly data points
fish_counts = fish_counts.interpolate(method='spline', order=2)

(3353, 28)

In [ ]:
We need to resample our daily data to week in order to help us incorporate other data later on.

In [19]:
fish_counts.fillna(0,inplace=True)

Our dataset now has has a lot of zero values because the fishcount was only available for specific years.

In [3]:
url =  "https://www.cfec.state.ak.us/pmtvalue/X_S03T.HTM"
res = requests.get(url,verify=False)
soup = BeautifulSoup(res.content,'lxml')
table = soup.find("table",{"class":"table"})

content = []

for row in table.find_all("tr"):
    row_data = []
    for col in row.find_all(["td","th"]):
        row_data.append(col.text)
    # add to content
    content.append(row_data)
    
# Format to dataframe
prices = pd.DataFrame(content[1:], columns=content[0])
prices.head()

/Users/aryehgelfand/opt/anaconda3/lib/python3.7/site-packages/urllib3/connectionpool.py:847: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)

,Year,Month,Estimated Value,Range,Standard Deviation,Earliest Transaction,Latest Transaction
0,2020,APR,"$180,000","38,100","12,750",FEB20,APR20
1,,MAR,"$188,300","20,000","5,950",JAN20,MAR20
2,,FEB,"$190,800","20,000","5,700",DEC19,FEB20
3,,JAN,"$189,500","20,000","5,800",NOV19,JAN20
4,2019,ALL,"$175,000","35,000","6,300",JAN19,DEC19

Now we want to scraper to go the section of the Alaska Dept of F & G and get the values for Bristol Bay Drift Permits for all the years it has available. This turns out to be 1984-2019.

In [4]:
prices = prices[['Year','Month','Estimated Value']]# get the columns we want

In [5]:
prices = prices[prices['Month'] == 'ALL']# erase all columns
prices = prices[['Year','Estimated Value']]

In [6]:
prices.set_index('Year', inplace=True)

     Estimated Value
Year
2019        $175,000
2018        $153,000
2017        $133,300
2016        $109,300
2015        $148,200

In [7]:
prices.index = pd.to_datetime(prices.index, format='%Y/%m/%d')

In [8]:
prices['Estimated Value']=(prices['Estimated Value'].replace( '[\$,)]','', regex=True ))

prices['Estimated Value'] = prices['Estimated Value'].astype('float64')

In [10]:
prices = prices.resample('W').mean()

prices = prices.interpolate(method='spline', order=2)

In [11]:
prices.head()
prices.to_csv("permit_price.csv")

Now we have a dataset that we resampled to week to match up with our fishcount data. It has the correct indexes and is in datetime format

In [31]:
df = pd.merge(fish_counts, prices, left_index=True, right_index=True)

/Users/aryehgelfand/opt/anaconda3/lib/python3.7/site-packages/pandas/core/reshape/merge.py:618: UserWarning: merging between different levels can give an unintended result (2 levels on the left, 1 on the right)
  warnings.warn(msg, UserWarning)

We merge on common indexes and add our fishcount data to the permit pricing data

In [33]:

ex_vessel_price = pd.read_csv('/Users/aryehgelfand/Downloads/Statewide Salmon Exvessel Prices by Species, 1984 - 2013.csv')

Now we want to add exvessel salmon prices by lb for each salmon species that is fished in Alaska. This data can be found at https://www.adfg.alaska.gov/index.cfm?adfg=commercialbyfisherysalmon.salmoncatch_statewide
Ex vessel pricing refers to the price/lb that fishermen are paid at the dock.

In [34]:
ex_vessel_price.set_index('Year', inplace=True)
ex_vessel_price.index = pd.to_datetime(ex_vessel_price.index, format='%Y')

In [35]:
ex_vessel_price.index = pd.to_datetime(ex_vessel_price.index, format='%Y/%m/%d')

In [36]:
ex_vessel_price = pd.pivot_table(ex_vessel_price,index=ex_vessel_price.index, columns = 'Species')
ex_vessel_price = ex_vessel_price.resample('W').mean()

ex_vessel_price= ex_vessel_price.interpolate(method='spline', order=2)

In [37]:
df = pd.merge(df, ex_vessel_price, left_index=True, right_index=True)

/Users/aryehgelfand/opt/anaconda3/lib/python3.7/site-packages/pandas/core/reshape/merge.py:618: UserWarning: merging between different levels can give an unintended result (1 levels on the left, 2 on the right)
  warnings.warn(msg, UserWarning)

This data was put in the right index and then resampled to weekly data in order to fit with our other data. Then it was merged onto our dataframe.

In [39]:
price_area = pd.read_csv("/Users/aryehgelfand/Downloads/Alaska Salmon Fishery Exvessel Prices by Area and Species, 2000- 2013.csv")

This data is exvessel price for salmon price by fishing area in alaska. This can be found at https://www.adfg.alaska.gov/index.cfm?adfg=commercialbyfisherysalmon.salmoncatch_exvessel

In [40]:
price_area.set_index('Year', inplace=True)
price_area.index = pd.to_datetime(price_area.index, format='%Y')

In [41]:
price_area.index = pd.to_datetime(price_area.index, format='%Y/%m/%d')

In [42]:
price_area['loc + species'] = price_area['Species Name Common'] + " " + price_area['Area Name']
price_area.drop(columns = ['Species Name Common','Area Name'],inplace=True)

In [43]:
price_area = pd.pivot_table(price_area,index=price_area.index, columns = 'loc + species')

In [44]:
price_area= price_area.resample('W').mean()

price_area= price_area.interpolate(method='linear')

In [45]:
df = pd.merge(df, price_area, left_index=True, right_index=True)

/Users/aryehgelfand/opt/anaconda3/lib/python3.7/site-packages/pandas/core/reshape/merge.py:618: UserWarning: merging between different levels can give an unintended result (1 levels on the left, 2 on the right)
  warnings.warn(msg, UserWarning)

In [46]:
df.columns.rename(lambda x: x.strip(), inplace=True)# strip oiut white space in the name

<function <lambda> at 0x129ee7200>,"(FISHCOUNT, Afognak River (Litnik))","(FISHCOUNT, Alagnak River)","(FISHCOUNT, Chignik River)","(FISHCOUNT, Coghill River)","(FISHCOUNT, Copper River (Miles L))","(FISHCOUNT, Dog Salmon River)","(FISHCOUNT, Egegik River)","(FISHCOUNT, Eshamy Creek)","(FISHCOUNT, Fish Creek)","(FISHCOUNT, Gulkana River)",...,"(Average Exvessel Price per Pound, Chinook Yukon)","(Average Exvessel Price per Pound, Sockeye Alaska Peninsula)","(Average Exvessel Price per Pound, Sockeye Bristol Bay)","(Average Exvessel Price per Pound, Sockeye Chignik)","(Average Exvessel Price per Pound, Sockeye Cook Inlet)","(Average Exvessel Price per Pound, Sockeye Kodiak)","(Average Exvessel Price per Pound, Sockeye Kuskokwim)","(Average Exvessel Price per Pound, Sockeye Norton Sound)","(Average Exvessel Price per Pound, Sockeye Prince William Sound)","(Average Exvessel Price per Pound, Sockeye Southeast)"
1984-01-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.503901,0.852485,0.658403,0.976549,0.967045,1.005221,0.581368,NaN,1.032062,1.106957
1984-01-08,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.504153,0.857096,0.661736,0.983691,0.971826,1.009440,0.581716,NaN,1.039074,1.111300
1984-01-15,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.504404,0.861706,0.665070,0.990834,0.976606,1.013659,0.582063,NaN,1.046085,1.115643
1984-01-22,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.504655,0.866317,0.668403,0.997977,0.981386,1.017878,0.582410,NaN,1.053097,1.119987
1984-01-29,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.504907,0.870928,0.671737,1.005119,0.986166,1.022097,0.582757,NaN,1.060109,1.124330

Now we have a dataframe with our location and species exvessel value added onto our dataframe

In [47]:
wholesale = pd.read_csv("/Users/aryehgelfand/Downloads/Alaska Salmon Fishery Wholesale Prices, 2000 - 2013.csv")

This is data related to salmon wholesale  pricing by species and different products like frozen, canned, Headed an Gutted. Each of these products has its own market and will effect the other aspects of the industry. The data can be found at https://www.adfg.alaska.gov/index.cfm?adfg=commercialbyfisherysalmon.salmoncatch_wholesale

In [49]:
wholesale.set_index('Year', inplace=True)
wholesale.index = pd.to_datetime(wholesale.index, format='%Y')
wholesale.index = pd.to_datetime(wholesale.index, format='%Y/%m/%d')
wholesale.drop(columns = 'Process Category',inplace = True)

In [50]:
wholesale['loc + species + product'] = wholesale['Species'] + " " + wholesale['Area '] + " " + wholesale['Product']

In [51]:
wholesale.drop(columns = ['Species','Area ','Product'],inplace=True)
wholesale = pd.pivot_table(wholesale,index=wholesale.index, columns = 'loc + species + product')

In [52]:
wholesale =wholesale .resample('W').mean()

wholesale = wholesale.interpolate(method='linear')

In [53]:
df = pd.merge(df, wholesale, left_index=True, right_index=True)

/Users/aryehgelfand/opt/anaconda3/lib/python3.7/site-packages/pandas/core/reshape/merge.py:618: UserWarning: merging between different levels can give an unintended result (1 levels on the left, 2 on the right)
  warnings.warn(msg, UserWarning)

We merge this new data onto our other data and resampled it to weekly data.

In [54]:
df.fillna(0,inplace=True)
df = df.loc[:,~df.columns.duplicated()]# erase duplicates

(993, 408)

In [55]:
url = 'https://www.indexmundi.com/commodities/?commodity=fish&months=360'
res = requests.get(url)
soup = BeautifulSoup(res.content,'lxml')
table = soup.find("table",{"class":"tblData"})

content = []

for row in table.find_all("tr"):
    row_data = []
    for col in row.find_all(["td","th"]):
        row_data.append(col.text)
    # add to content
    content.append(row_data)
    
# Format to dataframe
farm = pd.DataFrame(content[1:], columns=content[0])

One of the main competitors to alaska wild salmon is farmed norwegian salmon. This data is pricing data for this commodity resampled to weekly. We can then examine the relationship that exists between these competing products

In [57]:
idx = pd.Series(index=pd.date_range(start = dt.datetime(1990,4,1), end = dt.datetime(2017,7,1), freq='M'))
time = idx.index
time

/Users/aryehgelfand/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  """Entry point for launching an IPython kernel.

DatetimeIndex(['1990-04-30', '1990-05-31', '1990-06-30', '1990-07-31',
               '1990-08-31', '1990-09-30', '1990-10-31', '1990-11-30',
               '1990-12-31', '1991-01-31',
               ...
               '2016-09-30', '2016-10-31', '2016-11-30', '2016-12-31',
               '2017-01-31', '2017-02-28', '2017-03-31', '2017-04-30',
               '2017-05-31', '2017-06-30'],
              dtype='datetime64[ns]', length=327, freq='M')

In [58]:
farm.set_index(time, inplace=True)

In [59]:
farm.drop(columns = ['Change','Month'],inplace = True)
farm.rename(columns={"Price":"farm_salmon_price"}, inplace=True)

In [60]:
farm['farm_salmon_price'] = farm['farm_salmon_price'].astype('float64')
farm =farm.resample('W').mean()
farm = farm.interpolate(method='spline', order=2)

In [61]:
df = pd.merge(df, farm, left_index=True, right_index=True)

In [63]:
url = 'https://www.indexmundi.com/commodities/?commodity=shrimp&months=360'
res = requests.get(url)
soup = BeautifulSoup(res.content,'lxml')
table = soup.find("table",{"class":"tblData"})

content = []

for row in table.find_all("tr"):
    row_data = []
    for col in row.find_all(["td","th"]):
        row_data.append(col.text)
    # add to content
    content.append(row_data)
    
# Format to dataframe
shrimp = pd.DataFrame(content[1:], columns=content[0])

In [65]:
idx = pd.Series(index=pd.date_range(start = dt.datetime(1990,4,1), end = dt.datetime(2020,5,1), freq='M'))
time = idx.index

/Users/aryehgelfand/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  """Entry point for launching an IPython kernel.

In [66]:
shrimp.set_index(time, inplace=True)

In [67]:
shrimp.drop(columns = ['Change','Month'],inplace = True)
shrimp.rename(columns={"Price":"shrimp_price"}, inplace=True)

In [68]:
shrimp['shrimp_price'] = shrimp['shrimp_price'].astype('float64')
shrimp=shrimp.resample('W').mean()
shrimp= shrimp.interpolate(method='spline', order=2)
df = pd.merge(df, shrimp, left_index=True, right_index=True)

We also gathered data about shrimp pricing as away to see how other fish products might relate pricing for Bristol Bay Permit Salmon Drif Permits.

In [69]:
world_seafood_consumption = pd.read_csv("/Users/aryehgelfand/Downloads/fish-and-seafood-consumption-per-capita.csv")

This data can be accessed at blob:https://ourworldindata.org/f1e27397-a67e-4783-a9a0-3d1a58c0bd03. This is data related to world seafood consumption by country and year.

In [71]:
world_seafood_consumption.set_index('Year', inplace=True)
world_seafood_consumption.index = pd.to_datetime(world_seafood_consumption.index, format='%Y')
world_seafood_consumption.index = pd.to_datetime(world_seafood_consumption.index, format='%Y/%m/%d')
world_seafood_consumption.drop(columns = 'Code',inplace = True)

In [72]:
world_seafood_consumption = pd.pivot_table(world_seafood_consumption,index=world_seafood_consumption.index, columns = 'Entity')
#wholesale = pd.pivot_table(wholesale,index=wholesale.index, columns = 'loc + species + product')

In [73]:
world_seafood_consumption =world_seafood_consumption .resample('W').mean()
world_seafood_consumption = world_seafood_consumption .interpolate(method='linear')
df = pd.merge(df, world_seafood_consumption, left_index=True, right_index=True)

/Users/aryehgelfand/opt/anaconda3/lib/python3.7/site-packages/pandas/core/reshape/merge.py:618: UserWarning: merging between different levels can give an unintended result (1 levels on the left, 2 on the right)
  warnings.warn(msg, UserWarning)

In [74]:
capture_vs_aquaculture = pd.read_csv("/Users/aryehgelfand/Downloads/capture-fisheries-vs-aquaculture-farmed-fish-production.csv")

,Entity,Code,Year,Aquaculture (metric tons),Capture fisheries (metric tons)
13957,Zimbabwe,ZWE,2012,8090.0,12650.0
13958,Zimbabwe,ZWE,2013,10090.0,13400.0
13959,Zimbabwe,ZWE,2014,10600.0,14150.0
13960,Zimbabwe,ZWE,2015,10600.0,14900.0
13961,Zimbabwe,ZWE,2016,10085.0,15711.0

This data can be accessed at blob:https://ourworldindata.org/46b080fa-f03d-4af9-bfd1-4b89112f8ea9. It is related to aquaculture vs capture fisheries. This can help us understand how seafood production relates to the Bristol Bay Salmon industry

In [75]:
capture_vs_aquaculture.set_index('Year', inplace=True)
capture_vs_aquaculture.index = pd.to_datetime(capture_vs_aquaculture.index, format='%Y')
capture_vs_aquaculture.index = pd.to_datetime(capture_vs_aquaculture.index, format='%Y/%m/%d')
capture_vs_aquaculture.drop(columns = 'Code',inplace = True)

In [76]:
capture_vs_aquaculture = pd.pivot_table(capture_vs_aquaculture,index=capture_vs_aquaculture.index, columns = 'Entity')

In [77]:
capture_vs_aquaculture =capture_vs_aquaculture.resample('W').mean()
capture_vs_aquaculture= capture_vs_aquaculture.interpolate(method='linear')
df = pd.merge(df, capture_vs_aquaculture , left_index=True, right_index=True)

/Users/aryehgelfand/opt/anaconda3/lib/python3.7/site-packages/pandas/core/reshape/merge.py:618: UserWarning: merging between different levels can give an unintended result (1 levels on the left, 2 on the right)
  warnings.warn(msg, UserWarning)

In [78]:
df.shape

(888, 1125)

In [79]:
salmon_production_by_area = pd.read_csv("/Users/aryehgelfand/Downloads/Salmon COAR Production Wholesale.csv")

,Species Name Common,Year,Company Count,Process Code,Delivery Code,Net Weight (Sum),Wholesale Value (Sum)
3715,"salmon, sockeye",2018,1,Other,97,NaN,NaN
3716,"salmon, sockeye",2018,11,Other,Fillet,9482.74,163558.43
3717,"salmon, sockeye",2018,1,Other,H&G,NaN,NaN
3718,"salmon, sockeye",2018,4,Other,"Roe only, Roe Bait, and Ikura",396158.50,3015386.64
3719,"salmon, sockeye",2018,6,Other,Sujiko,422159.00,3918045.47

This data is related to salmon production by area and includes species. Can be found at https://www.adfg.alaska.gov/index.cfm?adfg=fishlicense.coar_salmonproduction

In [80]:
salmon_production_by_area.set_index('Year', inplace=True)
salmon_production_by_area.index = pd.to_datetime(salmon_production_by_area.index, format='%Y')
salmon_production_by_area.index = pd.to_datetime(salmon_production_by_area.index, format='%Y/%m/%d')
salmon_production_by_area.drop(columns = 'Delivery Code',inplace = True)

In [81]:
salmon_production_by_area['species + product'] = salmon_production_by_area['Species Name Common'] + " " + salmon_production_by_area['Process Code']

In [82]:
salmon_production_by_area.drop(columns = ['Species Name Common','Process Code'],inplace=True)

In [83]:
salmon_production_by_area = pd.pivot_table(salmon_production_by_area,index=salmon_production_by_area.index, columns = 'species + product')

In [84]:
salmon_production_by_area =salmon_production_by_area.resample('W').mean()
salmon_production_by_area= salmon_production_by_area.interpolate(method='linear')
df = pd.merge(df, salmon_production_by_area, left_index=True, right_index=True)

/Users/aryehgelfand/opt/anaconda3/lib/python3.7/site-packages/pandas/core/reshape/merge.py:618: UserWarning: merging between different levels can give an unintended result (1 levels on the left, 2 on the right)
  warnings.warn(msg, UserWarning)

In [85]:
gross_earnings_area = pd.read_csv("/Users/aryehgelfand/Downloads/Gross Earnings Salmon Summary By AREA.csv")

,Region,Salmon Area Name,Year,Species Code,Number Of Fish,Estimated Exvessel Value (Nominal),Pounds
2172,Westward,Kodiak,2018,Chinook,3479.0,9423.98,24221.0
2173,Westward,Kodiak,2018,Chum,463815.0,1906129.17,3728099.0
2174,Westward,Kodiak,2018,Coho,437770.0,2701240.04,3575761.0
2175,Westward,Kodiak,2018,Pink,5946662.0,8917416.10,22884864.0
2176,Westward,Kodiak,2018,Sockeye,1820254.0,14259964.12,9238871.0

This is data related to gross earnings by area. Can be found at https://www.adfg.alaska.gov/index.cfm?adfg=commercialbyfisherysalmon.salmoncatch_exvessel

In [86]:
gross_earnings_area.set_index('Year', inplace=True)
gross_earnings_area.index = pd.to_datetime(gross_earnings_area.index, format='%Y')
gross_earnings_area.index = pd.to_datetime(gross_earnings_area.index, format='%Y/%m/%d')

In [87]:
gross_earnings_area['region + area+ species'] = gross_earnings_area['Salmon Area Name'] + "  " + gross_earnings_area['Region'] + "  " + gross_earnings_area['Species Code']

In [88]:
gross_earnings_area.drop(columns = ['Salmon Area Name','Region','Species Code'],inplace=True)

In [89]:
gross_earnings_area = pd.pivot_table(gross_earnings_area,index=gross_earnings_area.index, columns = 'region + area+ species')

In [90]:
gross_earnings_area =gross_earnings_area.resample('W').mean()
gross_earnings_area= gross_earnings_area.interpolate(method='linear')
df = pd.merge(df, gross_earnings_area, left_index=True, right_index=True)

/Users/aryehgelfand/opt/anaconda3/lib/python3.7/site-packages/pandas/core/reshape/merge.py:618: UserWarning: merging between different levels can give an unintended result (1 levels on the left, 2 on the right)
  warnings.warn(msg, UserWarning)

In [91]:
gross_earnings_species = pd.read_csv("/Users/aryehgelfand/Downloads/Alaska Salmon Fishery Exvessel Prices by Area and Species, 2000- 2013.csv")

      Year  Area Name Species Name Common  Average Exvessel Price per Pound
1305  2018  Southeast                Coho                          1.741467
1306  2018  Southeast             Chinook                          7.303334
1307  2018  Southeast             Sockeye                          1.894924
1308  2018      Yukon                Chum                          0.648055
1309  2018      Yukon                Coho                          0.999998

Gross earnings by species, can be found at https://www.adfg.alaska.gov/index.cfm?adfg=commercialbyfisherysalmon.salmon_grossearnings_byspecies

In [92]:
gross_earnings_species.set_index('Year', inplace=True)
gross_earnings_species.index = pd.to_datetime(gross_earnings_species.index, format='%Y')
gross_earnings_species.index = pd.to_datetime(gross_earnings_species.index, format='%Y/%m/%d')

In [93]:
gross_earnings_species['area+ species'] = gross_earnings_species['Area Name'] + "  " + gross_earnings_species['Species Name Common']

In [94]:
gross_earnings_species.drop(columns = ['Species Name Common','Area Name'],inplace=True)

In [95]:
gross_earnings_species = pd.pivot_table(gross_earnings_species,index=gross_earnings_species.index, columns = 'area+ species')

In [96]:
gross_earnings_species =gross_earnings_species.resample('W').mean()
gross_earnings_species= gross_earnings_species.interpolate(method='linear')
df = pd.merge(df, gross_earnings_species, left_index=True, right_index=True)

/Users/aryehgelfand/opt/anaconda3/lib/python3.7/site-packages/pandas/core/reshape/merge.py:618: UserWarning: merging between different levels can give an unintended result (1 levels on the left, 2 on the right)
  warnings.warn(msg, UserWarning)

In [97]:
df.shape

(888, 1397)

In [98]:
df.to_csv("data.csv")

In [ ]:
Now we have a dataset with weekly data from 1999-2016 with a ton of data related to various aspects of the fishing industry and alaska salmon.